name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup
        run: mkdir out
      - name: CMake
        run: cd out; cmake .. -DARGLESS_SINGLE_HEADER=OFF -DARGLESS_EXAMPLE=ON -DCMAKE_CXX_FLAGS="-Wall -Wextra -Werror -pedantic"
      - name: Build
        run: cd out; make -j$(nproc)
      - name: Test Run
        run: cd out; ./example/Example --help
