name: Generate single include header

on:
  push:
  workflow_dispatch:

jobs:
  generate-header:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          persist-credentials: true

      - name: Setup
        run: mkdir out 
      - name: CMake
        run: cd out; cmake .. -DARGLESS_SINGLE_HEADER=OFF -DARGLESS_INSTALL=OFF
      - name: Generate header
        run: | 
          echo "/* argless - https://github.com/maslowian/argless */" > ./single_include/argless.hpp
          echo "" >> ./single_include/argless.hpp
          echo "/*" >> ./single_include/argless.hpp && cat ./LICENSE.txt >> ./single_include/argless.hpp && echo "*/" >> ./single_include/argless.hpp
          echo "" >> ./single_include/argless.hpp
          python ./tools/generate_header.py ./include/argless.hpp -I=./include "-I=./out/$(dirname $(cd out && find -type f -name tetter.hpp | head -n 1))" >> ./single_include/argless.hpp 

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Generated single include header 
